# DB接続情報（ローカル開発用）
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=fridge_db
PYTHONUNBUFFERED=1

# フロントエンド
VITE_API_URL=http://localhost:8000/api
VITE_USE_API=true

# SupabaseのURLと公開可能キーを設定
VITE_SUPABASE_URL=				
VITE_SUPABASE_PUBLISHABLE_KEY=